<div style="margin-left:99px;">
	
<b-header title='Native Bunny Clients'></b-header>

<div style="padding:0px;margin:0px;margin-bottom:9px;margin-top:-49px;">
 &nbsp; You can download the following native clients to enjoy the Bunny (Micro-)Services:
</div>
<table class="table table-bordered table-striped" style="width:85%">
	<thead style="background-color:#FFFFCC;">
		<tr>
			<th style="text-align:center;width:99px">Target Environment</th>
			<th style="text-align:center;width:99px">Used Framework</th>
			<th style="text-align:center">Link to Binary</th>
			<th style="text-align:center;width:133px">Screenshot</th>
		</tr>
	</thead>
	<tr>
		<td style="white-space:nowrap;text-align:center"><img src="assets/img/win32.png" style="width:64px;"><br>Windows 32 Bit</td>
		<td style="white-space:nowrap;text-align:center"><a href="http://qt.io" target="_new"><img src="assets/img/qt.png" style="width:64px;"><br>Qt</a></td>
		<td><a href="https://docs.google.com/uc?id=0Bxt7KXw_QjuAOVh5anY1R21UWUU&export=download" target="_new">BunnyAndQloud.win32.zip (22,7 MB (23.900.822 Bytes))</a></td>
		<td style="height:133px;padding:0px;margin:0px;">
			<div style="position:relative;padding:0px;margin:0px;">
				<!-- clip:shape(top, right, bottom, left) -->
				<img src="assets/img/bunnyAndQloud_on_2_platforms.gif" style="height:133px;clip:rect(0, 100px, 133px, 0);position: absolute;">
			</div>
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap;text-align:center"><img src="assets/img/win64.png" style="width:64px;"><br>Windows 64 Bit</td>
		<td style="white-space:nowrap;text-align:center"><a href="http://qt.io" target="_new"><img src="assets/img/qt.png" style="width:64px;"><br>Qt</a></td>
		<td>
				<a href="https://docs.google.com/uc?id=0Bxt7KXw_QjuAcHZiZE96dzJoeFE&export=download" target="_new">BunnyAndQloud.win64.zip (88,3 MB (92.679.904 Bytes)
					<br>
					(with the offline 3D Bunny Explorer included)
				</a>
				<table class="table table-bordered table-striped" style="width:100%;background-color:#EBFFEB;border: 1px;margin:0px;padding:0px;margin-top:9px;">
					<tr style="background-color:#EBFFEB;">
						<td style="width:99%"><span style="font-size:smaller;">For windows users who prefer a Setup routine:</span>
							<br>
							<span style="font-size:smaller;">(created &amp; scripted with  the (<a href="http://doc.qt.io/qtinstallerframework/" target="_new">Qt Installer Framework</a>):</span>
							<br>
							<a href="https://docs.google.com/uc?id=0Bxt7KXw_QjuATURyTjRPRkdqSUU&export=download" target="_new">BunnyAndCloud_Win64_Setup.exe <span style="font-size:smaller;">(79,5 MB (83.446.846 Bytes))</span></a>
						</td>
						<td><img src="assets/img/bunnyAndQloud_Setup.png" style="width:121px;" class="moover"></td>
					</tr>
				</table>
		</td>
		<td style="height:133px;padding:0px;margin:0px;">
			<img src="assets/img/bunnyAndQloud_with_3d_explorer.png" style="width:121px;" class="moover">
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap;text-align:center"><img src="assets/img/android.png" style="width:64px;"><br>Android</td>
		<td style="white-space:nowrap;text-align:center"><a href="http://qt.io" target="_new"><img src="assets/img/qt.png" style="width:64px;"><br>Qt</a></td>
		<td><a href="https://docs.google.com/uc?id=0Bxt7KXw_QjuAbkxCdGFZYU5HZ2M&export=download" target="_new">BunnyAndQloud.apk (22,5 MB (23.623.107 Bytes))</a></td>
		<td style="height:133px;padding:0px;margin:0px;">
			<div style="position:relative;padding:0px;margin:0px;">
				<img src="assets/img/bunnyAndQloud_on_2_platforms.gif" style="height:133px;clip:rect(0, 333px, 133px, 107px);position: absolute;margin-left:-107px;">
			</div>
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap;text-align:center"><img src="assets/img/win32.png" style="width:64px;"><br>Windows</td>
		<td style="white-space:nowrap;text-align:center"><a href="http://unity3d.com/" target="_new"><img src="assets/img/unity.png" style="width:64px;"><br>Unity</a></td>
		<td><a href="https://docs.google.com/uc?id=0Bxt7KXw_QjuAVmlKZnVqQ18wWmM&export=download" target="_new">UnityBunnyTheatre.win32.zip (58,2 MB (61.048.668 Bytes))</a></td>
		<td style="padding:0px;margin:0px;">
			<img src="assets/img/bunnytheatre.png" style="width:121px;" class="moover">
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap;text-align:center"><img src="assets/img/android.png" style="width:64px;"><br>Android</td>
		<td style="white-space:nowrap;text-align:center"><a href="http://unity3d.com/" target="_new"><img src="assets/img/unity.png" style="width:64px;"><br>Unity</a></td>
		<td><a href="https://docs.google.com/uc?id=0Bxt7KXw_QjuAcGR0Yi01Y2tQUjg&export=download" target="_new">UnityBunnyTheatre.apk (63,6 MB (66.776.791 Bytes))</a></td>
		<td style="padding:0px;margin:0px;">
			<img src="assets/img/bunnytheatre.android.png" style="width:121px;" class="moover">
		</td>
	</tr>
<!-- rabbitter begin -->
	<tr>
		<td style="white-space:nowrap;text-align:center"><img src="assets/img/win32.png" style="width:64px;"><br>Windows</td>
		<td style="white-space:nowrap;text-align:center"><a href="http://unity3d.com/" target="_new"><img src="assets/img/unity.png" style="width:64px;"><br>Unity</a></td>
		<td>
			<a href="https://docs.google.com/uc?id=0Bxt7KXw_QjuAdi1GS1dsZDZBWE0&export=download" target="_new">UnityTheRabbitter.win32.zip (68,8 MB (72.231.103 Bytes))</a>
			<table class="table table-bordered table-striped" style="width:100%;background-color:#EBFFEB;border: 1px;margin:0px;padding:0px;margin-top:9px;">
				<tr style="background-color:#EBFFEB;">
					<td style="width:99%">
						<span style="font-size:smaller;">The intro looks like this:
							<br>
							<span style="font-size:smaller;">(the pic shows the WebGL version)</span>
						</span>
					</td>
					<td><img src="assets/img/UnityTheRabbitterOnWebGL.intro.png" style="width:121px;" class="moover"></td>
				</tr>
			</table>
		</td>
		<td style="padding:0px;margin:0px;">
			<img src="assets/img/UnityTheRabbitterOnAndroid1.png" style="width:121px;" class="moover">
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap;text-align:center"><img src="assets/img/android.png" style="width:64px;"><br>Android</td>
		<td style="white-space:nowrap;text-align:center"><a href="http://unity3d.com/" target="_new"><img src="assets/img/unity.png" style="width:64px;"><br>Unity</a></td>
		<td><a href="https://docs.google.com/uc?id=0Bxt7KXw_QjuASkl6VGxIYnhPZUU&export=download" target="_new">UnityTheRabbitter.apk (57,5 MB (60.384.471 Bytes))</a></td>
		<td style="padding:0px;margin:0px;">
			<img src="assets/img/UnityTheRabbitterOnAndroid2.png" style="width:121px;" class="moover">
		</td>
	</tr>
<!-- rabbitter end -->
</table>

<script>
	$(".moover").hover(
		function(ev)
		{
	        var mouseX = ev.pageX;
	        var mouseY = ev.pageY;
	        var cssObj =
	        {
              'position' : 'absolute',
              'left' : 250 + 'px',
              'top' : mouseY - 555 + 'px'
	        };
	        $('#mooverimg').attr('src', $(ev.target).attr('src')).css(cssObj).show("slow");
		},
		function(ev)
		{
			$('#mooverimg').hide("slow");
		});
</script>
<img src='' style='display:none;width:444px;' id='mooverimg' />
</div>
