<div style="margin-left:99px;">
<b-header title='3D Bunny Explorer'></b-header>

<h4>&nbsp;Click on the picture to start the to explore!  &nbsp;</h4>
<div style="color:red;">
You will need a powerful 64 bit (preferably webkit-based, e.g. CHROME) browser
<br>
<span style="font-weight:bold;">I warned You!</span>
</div>
<br>	
<a href="assets/3drabbitexplorer/3drabbitexplorer.html" target="_new">
	<img src="assets/3drabbitexplorer/3drabbitexplorer.png" title="Click to open 3D Bunny Explorer" style="width:55%">
</a>

</div>
